a:active,a:hover{outline:0}
img{border:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
textarea{overflow:auto}
table{border-collapse:collapse;border-spacing:0}
*{box-sizing:border-box}
:before,:after{box-sizing:border-box}
input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;outline:0}
a{text-decoration:none;color:inherit}
img{vertical-align:middle}
hr{box-sizing:content-box;height:0;margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
body{margin:0;padding:0}
[hidden]{display: none}
button{border: none;background: none;padding: 0;cursor: pointer;}

html,
body,
.wrapper {
    height: 100%;
}

.wrapper{
    overflow: overlay;
    position: relative;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
}

.container{
    max-width: 1750px;
    padding: 0 50px;
    width: 100%;
    margin: 0 auto;
}

.fit_img{
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position:center ;
       object-position:center ;
}

.row{
    position: relative;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.gap-x-24{
    margin-left: -12px;
    margin-right: -12px;
}

.gap-x-24 > [class^="col-"]{
    padding-left: 12px;
    padding-right: 12px;
}

.gap-y-24{
    margin-top: -12px;
    margin-bottom: -12px;
}

.gap-y-24 > [class^="col-"]{
    padding-top: 12px;
    padding-bottom: 12px;
}

.gap-24{
    margin: -12px;
}

.gap-24 > [class^="col-"]{
    padding: 12px;
}

.gap-8{
    margin: -4px;
}

.gap-8 > [class^="col-"]{
    padding: 4px;
}

.gap-30{
    margin: -15px;
}

.gap-30 > [class^="col-"]{
    padding: 15px;
}

.gap-y-26{
    margin-top: -13px;
    margin-bottom: -13px;
}

.gap-y-26 > [class^="col-"]{
    padding-top: 13px;
    padding-bottom: 13px;
}

.gap-x-30{
    margin-left: -15px;
    margin-right: -15px;
}

.gap-x-30 > [class^="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}

.gap-x-32{
    margin-left: -16px;
    margin-right: -16px;
}

.gap-x-32 > [class^="col-"]{
    padding-left: 16px;
    padding-right: 16px;
}

.gap-x-50{
    margin-left: -25px;
    margin-right: -25px;
}

.gap-x-50 > [class^="col-"]{
    padding-left: 25px;
    padding-right: 25px;
}

.gap-y-30{
    margin-top: -15px;
    margin-bottom: -15px;
}

.gap-y-30 > [class^="col-"]{
    padding-top: 15px;
    padding-bottom: 15px;
}

.gap-26{
    margin: -13px;
}

.gap-26 > [class^="col-"]{
    padding: 13px;
}

.gap-y-20{
    margin-top: -10px;
    margin-bottom: -10px;
}

.gap-y-20 > [class^="col-"]{
    padding-top: 10px;
    padding-bottom: 10px;
}

.gap-y-60{
    margin-top: -30px;
    margin-bottom: -30px;
}

.gap-y-60 > [class^="col-"]{
    padding-top: 30px;
    padding-bottom: 30px;
}

[class^="col-"]{
    flex: 0 0 auto;
}

@media (min-width:320px){
    .col-xs-1{
        width: 8.33333333%;
    }
    .col-xs-2 {
        width: 16.66666667%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-5 {
        width: 41.66666667%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-8 {
        width: 66.66666667%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-11 {
        width: 91.66666667%;
    }
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-20 {
        width: 20%;
    }
}
@media (min-width: 576px) {
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-20 {
        width: 20%;
    }
}
@media (min-width: 768px) {
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-20 {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-20 {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-xl-1 {
        width: 8.33333333%;
    }
    .col-xl-2 {
        width: 16.66666667%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33333333%;
    }
    .col-xl-5 {
        width: 41.66666667%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33333333%;
    }
    .col-xl-8 {
        width: 66.66666667%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33333333%;
    }
    .col-xl-11 {
        width: 91.66666667%;
    }
    .col-xl-12 {
        width: 100%;
    }
    .col-xl-20 {
        width: 20%;
    }
}
@media (min-width: 1400px) {
    .col-xxl-1 {
        width: 8.33333333%;
    }
    .col-xxl-2 {
        width: 16.66666667%;
    }
    .col-xxl-3 {
        width: 25%;
    }
    .col-xxl-4 {
        width: 33.33333333%;
    }
    .col-xxl-5 {
        width: 41.66666667%;
    }
    .col-xxl-6 {
        width: 50%;
    }
    .col-xxl-7 {
        width: 58.33333333%;
    }
    .col-xxl-8 {
        width: 66.66666667%;
    }
    .col-xxl-9 {
        width: 75%;
    }
    .col-xxl-10 {
        width: 83.33333333%;
    }
    .col-xxl-11 {
        width: 91.66666667%;
    }
    .col-xxl-12 {
        width: 100%;
    }
    .col-xxl-20 {
        width: 20%;
    }
}
@media (min-width:1400px){
    .hidden-xxl{
        display: none !important;
    }
}
@media (min-width:1200px) and (max-width:1399.98px){
    .hidden-xl{
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width:1199.98px){
    .hidden-lg{
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width:991.98px){
    .hidden-md{
        display: none !important;
    }
}
@media (min-width: 576px) and (max-width:767.98px){
    .hidden-sm{
        display: none !important;
    }
}
@media (min-width: 320px) and (max-width:575.98px){
    .hidden-xs{
        display: none !important;
    }
}

.loader{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url("/images/legacy/common/maxtrans_logo_blue.svg") no-repeat 50% 50%;
}


.alert{
    display: none;
}

.alert_content{
    padding: 20px;
    border-radius: 5px;
    background: #74BCFF;
    color: white;
    font-family: inherit;
    font-size: 18px;
    position: fixed;
    z-index: 10;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.alert_overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    z-index:9;
}

.alert_title{
    font-weight: bold;
    text-align: center;
}

.alert_message{
    line-height: 1.2;
    padding-top: 10px;
    font-size: 16px;
}

.alert_ok{
    max-width: 100px;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    background: var(--accent, #40A6FF);
    font-weight: 700;
    border-radius: 5px;
    padding:5px;
    display: block;
    margin: 20px auto 0 auto;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
}

.alert_ok:hover{
    background: var(--accent-2, #FF6604);
    transition: background 0.3s ease;
}


